<div class="p-6">

    <div class="flex justify-between items-center mb-6">
    <h2 class="text-2xl font-bold">Detalles del Grupo</h2>
    <button
      [routerLink]="['/home/workTeams']"
      class="px-4 py-2 bg-gray-200 text-gray-800 rounded-lg shadow hover:bg-gray-300 transition"
    >
      ← Volver a Grupos
    </button>
  </div>

  <!-- Encabezado -->
  <h2 class="text-2xl font-bold mb-6 text-center">Detalles del Grupo</h2>

  <!-- Botones de navegación -->
  <div class="flex justify-center space-x-4 mb-6">
    <button
      class="px-4 py-2 rounded-lg"
      [class.bg-blue-600]="activeTab === 'tareas'"
      [class.text-white]="activeTab === 'tareas'"
      (click)="setTab('tareas')"
    >
      Mis Tareas
    </button>

    <button
      class="px-4 py-2 rounded-lg"
      [class.bg-blue-600]="activeTab === 'participantes'"
      [class.text-white]="activeTab === 'participantes'"
      (click)="setTab('participantes')"
    >
      Participantes
    </button>

    <button
      class="px-4 py-2 rounded-lg"
      [class.bg-blue-600]="activeTab === 'info'"
      [class.text-white]="activeTab === 'info'"
      (click)="setTab('info')"
    >
      Información del grupo
    </button>
  </div>

  <!-- Contenido dinámico -->
  @if (activeTab === 'tareas') {
    <app-tasks></app-tasks>
  }
  @if (activeTab === 'participantes') {
    <app-work-team-participants></app-work-team-participants>
  }
  @if (activeTab === 'info') {
    <app-work-team-info></app-work-team-info>
  }
</div>

